@using App.Entity.Models
@model App.Entity.Models.AgentInfo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <h6 class="card-header bg-primary">AGENT / DETAILS</h6>
    <div class="card-block">
        <div class="row">
            <div class="col-md-12">
                <h5>
                    AGENT NAME: @Model.AgentName
                    <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-primary btn-sm"> <span class="fa fa-edit"></span> Edit</a>
                </h5>
                <br />
                <table class="table table-striped m-md-b-0">
                    <tr>
                        <th width="200">@Html.DisplayNameFor(m => m.OfficeName)</th>
                        <td>@Model.OfficeName</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.ContactName)</th>
                        <td>@(string.IsNullOrWhiteSpace(Model.ContactName) ? "No contact name is added." : Model.ContactName)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.MobileNo)</th>
                        <td>@(string.IsNullOrWhiteSpace(Model.MobileNo) ? "No Mobile number is added." : Model.MobileNo)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.Address)</th>
                        <td>@(string.IsNullOrWhiteSpace(Model.Address) ? "No Address is added." : Model.Address)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.OfficeNo)</th>
                        <td>@(string.IsNullOrWhiteSpace(Model.OfficeNo) ? "No Office number is added." : Model.OfficeNo)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.FaxNo)</th>
                        <td>@(string.IsNullOrWhiteSpace(Model.FaxNo) ? "No Fax number is added." : Model.OfficeNo)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.Email)</th>
                        <td>@Model.Email</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.UserName)</th>
                        <td>@Model.UserName</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.Status)</th>
                        <td>@Model.Status</td>
                    </tr>
                </table>
            </div>
        </div>
        <br />
        <div class="col-md-3">
            <a href="@Url.Action("Index")" class="btn btn-info"> <span class="fa fa-chevron-left"></span> Back to List</a>
        </div>
    </div>

</div>
