@model App.Entity.Models.EmployeeDesignation

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <h6 class="card-header bg-primary">DESIGNATION / DETAILS</h6>
    <div class="card-block">
        <div class="row">
            <div class="col-md-12">
                <h5>
                    DESIGNATION NAME: @Model.DesignationTitleEn.ToUpper()
                    <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-primary btn-sm"> <span class="fa fa-edit"></span> Edit</a>
                </h5>
                <br />
                <table class="table table-striped m-md-b-0">
                    <tr>
                        <th width="200">@Html.DisplayNameFor(m => m.DesignationId)</th>
                        <td>@Model.DesignationId</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.DesignationTitleBn)</th>
                        <td>@(string.IsNullOrWhiteSpace(Model.DesignationTitleBn) ? "No Designation added in bengali." : Model.DesignationTitleBn)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.DesignationDepertment)</th>
                        <td>@(string.IsNullOrWhiteSpace(Model.DesignationDepertment) ? "No Desingnatiion department added." : Model.DesignationDepertment)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.Status)</th>
                        <td>@Model.Status</td>
                    </tr>
                </table>
            </div>
        </div>
        <br />
        <div class="col-md-3">
            <a href="@Url.Action("Index")" class="btn btn-info"> <span class="fa fa-chevron-left"></span> Back to List</a>
        </div>
    </div>

</div>
