@model App.Entity.Models.ClientInfo

@{
    ViewBag.Title = "Add New Client";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <h6 class="card-header bg-primary">CLIENTS / ADD NEW</h6>
    <div class="card-block">
        @using (Html.BeginForm("Create", "Clients", FormMethod.Post, new { @class = "form-horizontal", @id = "clientForm" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-group row">
                @Html.LabelFor(model => model.BranchId, htmlAttributes: new { @class = "control-label col-sm-4 text-md-right" })
                <div class="col-sm-4">
                    @Html.DropDownListFor(model => model.BranchId, (SelectList)ViewBag.BranchList, "Select One", new { @class = "form-control select2" })
                    @Html.ValidationMessageFor(model => model.BranchId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-sm-4 text-md-right" })
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-sm-4 text-md-right" })
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.ReferralType, htmlAttributes: new { @class = "control-label col-sm-4 text-md-right" })
                <div class="col-sm-4">
                    @Html.DropDownListFor(model => model.ReferralType, (SelectList)ViewBag.ReferralTypes, "Select One", new { @class = "form-control select2" })
                    @Html.ValidationMessageFor(model => model.ReferralType, "", new { @class = "text-danger" })
                </div>
            </div>

            <div id="ReferralAdditional"> </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.SmsNo, htmlAttributes: new { @class = "control-label col-sm-4 text-md-right" })
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.SmsNo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.SmsNo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.Label("Require Supplier", htmlAttributes: new { @class = "control-label col-sm-4 text-md-right" })
                <div class="col-sm-4">
                    @Html.DropDownList("RequireSupplier", (SelectList)ViewBag.IsRequireSupplier, new { @class = "form-control", @required = "required" })
                    @Html.ValidationMessage("RequireSupplier", "", new { @class = "text-danger" })
                </div>
            </div>

            <div id="SupplierAdditional"> </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.ServiceId, htmlAttributes: new { @class = "control-label col-sm-4 text-md-right" })
                <div class="col-sm-4">
                    @Html.DropDownListFor(model => model.ServiceId, (SelectList)ViewBag.ServiceList, "Select One", new { @class = "form-control select2" })
                    @Html.ValidationMessageFor(model => model.ServiceId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div id="ServiceAdditional">
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.ServiceCharge, htmlAttributes: new { @class = "control-label col-sm-4 text-md-right" })
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.ServiceCharge, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                    @Html.ValidationMessageFor(model => model.ServiceCharge, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.Cost, htmlAttributes: new { @class = "control-label col-sm-4 text-md-right" })
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.Cost, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                    @Html.ValidationMessageFor(model => model.Cost, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.Profit, htmlAttributes: new { @class = "control-label col-sm-4 text-md-right" })
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.Profit, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @type = "number" } })
                    @Html.ValidationMessageFor(model => model.Profit, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.DoneBy, htmlAttributes: new { @class = "control-label col-sm-4 text-md-right" })
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.DoneBy, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DoneBy, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.Remark, htmlAttributes: new { @class = "control-label col-sm-4 text-md-right" })
                <div class="col-sm-4">
                    @Html.TextAreaFor(model => model.Remark, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Remark, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                <div class="offset-sm-4 col-sm-4">
                    <button type="submit" class="btn btn-success pull-right"> <span class="fa fa-plus"></span> Add New </button>
                </div>
            </div>
        }
        <div class="col-md-3">
            <a href="@Url.Action("Index")" class="btn btn-info"> <span class="fa fa-chevron-left"></span> Back to List</a>
        </div>

    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script>
        PickDate();
        ReSelect2();
        $("#ReferralType").on("change", function() {
            var referralType = $(this).val();
            $("#SmsNo").val("");
            if (referralType !== "") {
                $.post("@Url.Action("GetAdditionalReferralFields", "Clients")", { referralType: referralType }, function(html) {
                    if (html !== null) {
                        $("#ReferralAdditional").empty().html(html).slideDown(500);
                        ReSelect2();
                        ReValidate();
                        return;
                    }
                    $("#ReferralAdditional").empty().slideUp(500);
                    return;
                });
            }
            $("#ReferralAdditional").empty().slideUp(500);
        });

        $("#RequireSupplier").on("change",function() {
            var requireSupplier = $(this).val();
            if (requireSupplier !== "" && Number(requireSupplier) === 1) {
                $.post("@Url.Action("GetAdditionalSupplierFields", "Clients")", { requireSupplier: requireSupplier }, function(html) {
                    if (html !== null) {
                        $("#SupplierAdditional").empty().html(html).slideDown(500);
                        ReSelect2();
                        ReValidate();
                        return;
                    }
                    $("#SupplierAdditional").empty().slideUp(500);
                    return;
                });
            }
            $("#SupplierAdditional").empty().slideUp(500);
        });

        var additionalFields = [
            "VISA CHECK", "E-MAIL", "STUDENT VISA", "TOURIST VISA", "TKT+MP", "NEW TICKET", "RE-CONFIRM", "DATE CHANGE",
            "CONFIRM"
        ];
        $("#ServiceId").on("change", function() {
            $(".pickDate").datepicker("destroy");
            var serviceName = $("#ServiceId :selected").text();
            var serviceId = $(this).val();
            if (serviceId === "") return;
            if (additionalFields.indexOf(serviceName) !== -1) {
                $.post("@Url.Action("GetAdditionalServiceFields", "Clients")", { serviceId: serviceId, serviceName: serviceName }, function(html) {
                    if (html !== null) {
                        $("#ServiceAdditional").empty().html(html).slideDown(500);
                        ReSelect2();
                        ReValidate();
                        PickDate();
                        return;
                    }
                    $("#ServiceAdditional").empty().slideUp(500);
                    return;
                });
            }
            $("#ServiceAdditional").empty().slideUp(500);
        });

        $("body").on("change", "#ContactNo", function() {
            var contactNo = $("#ContactNo");
            $("#SmsNo").val(contactNo.val()).trigger("blur");
        });

        $("body").on("change keyup", "#ServiceCharge", function() {
            CalculateProfit();
        });

        $("body").on("change keyup", "#Cost", function() {
            CalculateProfit();
        });

        function ReValidate() {
            var form = $("#clientForm");
            form.removeData("validator");
            form.removeData("unobtrusiveValidation");
            $.validator.unobtrusive.parse("#clientForm");
        }

        function CalculateProfit() {
            var serviceChage = $("#ServiceCharge").val();
            var cost = $("#Cost").val();
            if (serviceChage < 0 || cost < 0) return;
            if (serviceChage !== "" && cost !== "") {
                var profit = Number(serviceChage) - Number(cost);
                $("#Profit").val(profit);
                return;
            } else if (serviceChage === "" && cost !== "") {
                $("#Profit").val((-Number(cost)));
                return;
            }
            $("#Profit").val(0.00);
        }
    </script>
}
