@model App.Entity.Models.ClientInfo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ClientInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AgentInfo.AgentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgentInfo.AgentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AirLineInfo.AirLineId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AirLineInfo.AirLineId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountryList.CountryCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountryList.CountryCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SectorFrom.SectorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectorFrom.SectorId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SectorTo.SectorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectorTo.SectorId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceInfo.ServiceId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceInfo.ServiceId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SuppliersInfo.SupplierId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SuppliersInfo.SupplierId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserDoneBy.Uid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserDoneBy.Uid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserEntryBy.Uid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserEntryBy.Uid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserServedBy.Uid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserServedBy.Uid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BranchId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BranchId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReferralType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReferralType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Referral)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Referral)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReferralContactNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReferralContactNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OldFlightDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OldFlightDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChangeFlightDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChangeFlightDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AirLinePnr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AirLinePnr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GdsPnr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GdsPnr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewFlightDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewFlightDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CollageName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CollageName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceCharge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceCharge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Profit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkingStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkingStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliveryStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InfoStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InfoStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DelStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DelStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SmsNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SmsNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Finger)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Finger)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Manpower)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manpower)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketIssue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketIssue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FlightStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FlightStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
