@model App.Entity.Models.ClientInfo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <h6 class="card-header bg-primary">CLIENTS / DETAILS</h6>
    <div class="card-block">
        <div class="row">
            <div class="col-md-12">
                <h5>@string.Join(" ", new string[] { Model.FirstName, Model.LastName })</h5>
                <table class="table table-striped m-md-b-0">
                    <tr>
                        <th width="200">@Html.DisplayNameFor(m=>m.CustomerId)</th>
                        <td>@Model.CustomerId</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.BranchInfo.BranchName)</th>
                        <td>@Model.BranchInfo.BranchName</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
