@model App.Entity.Models.BranchInfo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <h6 class="card-header bg-primary">BRANCH / DETAILS</h6>
    <div class="card-block">
        <div class="row">
            <div class="col-md-12">
                <h5>
                    BRANCH NAME: @Model.BranchName.ToUpper()
                    <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-primary btn-sm"> <span class="fa fa-edit"></span> Edit</a>
                </h5>
                <br />
                <table class="table table-striped m-md-b-0">

                    <tr>
                        <th width="150">@Html.DisplayNameFor(m => m.BranchId)</th>
                        <td>@Model.BranchId</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.BranchCode)</th>
                        <td>@Model.BranchCode</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.Status)</th>
                        <td>@Model.Status</td>
                    </tr>
                </table>
            </div>
        </div>
        <br />
        <div class="col-md-3">
            <a href="@Url.Action("Index")" class="btn btn-info"> <span class="fa fa-chevron-left"></span> Back to List</a>
        </div>
    </div>

</div>
