@model App.Entity.Models.SuppliersInfo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SuppliersInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.Uid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Uid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupplierId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupplierId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupplierName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupplierName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupplierEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupplierEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupplierPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupplierPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupplierAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupplierAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupplierMobileNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupplierMobileNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DelStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DelStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntryDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
