@using System.Data.Entity
@using App.Entity.Models
@using App.Web.Context
@{
    var errorMessage = "";
    try
    {
        var db = new CrmDbContext();
        ViewBag.TodayDeposits = db.TransactionsInfos.Any(w => DbFunctions.TruncateTime(w.Date) == DbFunctions.TruncateTime(DateTime.Now) && w.TransactionType == TransactionType.Deposit)
            ? db.TransactionsInfos.Where(w => DbFunctions.TruncateTime(w.Date) == DbFunctions.TruncateTime(DateTime.Now) && w.TransactionType == TransactionType.Deposit)
             .Sum(x => x.Amount) : 0;

        ViewBag.TodayExpenses = db.TransactionsInfos.Any(w => DbFunctions.TruncateTime(w.Date) == DbFunctions.TruncateTime(DateTime.Now) && w.TransactionType == TransactionType.Expense)
            ? db.TransactionsInfos.Where(w => DbFunctions.TruncateTime(w.Date) == DbFunctions.TruncateTime(DateTime.Now) && w.TransactionType == TransactionType.Expense)
             .Sum(x => x.Amount) : 0;

        ViewBag.ThisMonthsDeposits = db.TransactionsInfos.Any(w => w.Date.Month == DateTime.Now.Month && w.TransactionType == TransactionType.Deposit)
            ? db.TransactionsInfos.Where(w => w.Date.Month == DateTime.Now.Month && w.TransactionType == TransactionType.Deposit).Sum(x => x.Amount) : 0;

        ViewBag.ThisMonthsExpenses = db.TransactionsInfos.Any(w => w.Date.Month == DateTime.Now.Month && w.TransactionType == TransactionType.Expense)
            ? db.TransactionsInfos.Where(w => w.Date.Month == DateTime.Now.Month && w.TransactionType == TransactionType.Expense).Sum(x => x.Amount) : 0;
    }
    catch (Exception ex)
    {
        errorMessage = ex.Message;
    }
}

@if (!string.IsNullOrWhiteSpace(errorMessage))
{
    <link href="~/vendor/toastr/toastr.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/vendor/toastr/toastr.min.js"></script>
    <script>
        toastr.error("@errorMessage", 'DB Error!');
    </script>
}
<div class="row row-md">
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="box box-block bg-white tile tile-1 m-b-2">
            <div class="t-icon right">
                <span class="bg-purple"></span><i class="fa fa-plus"></i>
            </div>
            <div class="t-content">
                <h6 class="text-uppercase m-b-1">Today Deposits</h6>
                <h2 class="m-b-1">TK @ViewBag.TodayDeposits</h2>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="box box-block bg-white tile tile-1 m-b-2">
            <div class="t-icon right">
                <span class="bg-info"></span><i class="fa fa-minus"></i>
            </div>
            <div class="t-content">
                <h6 class="text-uppercase m-b-1">Today Expenses</h6>
                <h2 class="m-b-1">TK @ViewBag.TodayExpenses</h2>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="box box-block bg-white tile tile-1 m-b-2">
            <div class="t-icon right">
                <span class="bg-success"></span><i class="fa fa-plus"></i>
            </div>
            <div class="t-content">
                <h6 class="text-uppercase m-b-1">This Months Deposits</h6>
                <h2 class="m-b-1">TK @ViewBag.ThisMonthsDeposits</h2>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="box box-block bg-white tile tile-1 m-b-2">
            <div class="t-icon right">
                <span class="bg-warning"></span><i class="fa fa-minus"></i>
            </div>
            <div class="t-content">
                <h6 class="text-uppercase m-b-1">This Months Expenses</h6>
                <h2 class="m-b-1">TK @ViewBag.ThisMonthsExpenses</h2>
            </div>
        </div>
    </div>
</div>
<div class="row row-md">
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 m-b-2">
        <a class="btn btn-info btn-lg btn-block" href="@Url.Action("Create","Clients")">Add Client</a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 m-b-2">
        <a class="btn btn-info btn-lg btn-block" href="@Url.Action("Create","Agents")">Add Agent</a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 m-b-2">
        <a class="btn btn-info btn-lg btn-block" href="@Url.Action("FlightProgress","Clients")">Flight Progresses</a>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 m-b-2">
        <a class="btn btn-info btn-lg btn-block" href="@Url.Action("ClientPayment","Billing")">Client Payment</a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 m-b-2">
        <a class="btn btn-info btn-lg btn-block" href="@Url.Action("AgentPayment","Billing")">Agent Payment</a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 m-b-2">
        <a class="btn btn-info btn-lg btn-block" href="@Url.Action("SupplierPayment","Billing")">Payment To Supplier</a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 m-b-2">
        <a class="btn btn-info btn-lg btn-block" href="@Url.Action("Index","Expenses")">Expenses</a>
    </div>


    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 m-b-2">
        <a class="btn btn-info btn-lg btn-block" href="@Url.Action("Index","Transactions")">Transactions</a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 m-b-2">
        <a class="btn btn-info btn-lg btn-block" href="@Url.Action("BalanceSheet","Accounts")">Balance Sheet</a>
    </div>
</div>
