@model App.Web.Models.TransferViewModel

@{
    ViewBag.Title = "Add New Deposit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section AdditionalStyles
{
    <link href="~/vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="~/vendor/select2/dist/css/select2.min.css" rel="stylesheet" />
}
<div class="card">
    <h6 class="card-header bg-primary">TRANSFERS / ADD NEW</h6>
    <div class="card-block">
        <div class="row">
            @using (Html.BeginForm("Create", "Transfers", FormMethod.Post, new { @class = "form-horizontal", @id = "transferForm" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-group row">
                    @Html.LabelFor(model => model.AccountFrom, htmlAttributes: new { @class = "control-label col-sm-4 text-md-right" })
                    <div class="col-sm-4">
                        @Html.DropDownListFor(model => model.AccountFrom, (SelectList)ViewBag.FromAccounts, "Select One", new { @class = "form-control select2" })
                        @Html.ValidationMessageFor(model => model.AccountFrom, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.AccountTo, htmlAttributes: new { @class = "control-label col-sm-4 text-md-right" })
                    <div class="col-sm-4">
                        @Html.DropDownListFor(model => model.AccountTo, (SelectList)ViewBag.ToAccounts, "Select One", new { @class = "form-control select2" })
                        @Html.ValidationMessageFor(model => model.AccountTo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-sm-4 text-md-right" })
                    <div class="col-sm-4">
                        @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control pickDate" } })
                        @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-sm-4 text-md-right" })
                    <div class="col-sm-4">
                        @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.MethodId, htmlAttributes: new { @class = "control-label col-sm-4 text-md-right" })
                    <div class="col-sm-4">
                        @Html.DropDownListFor(model => model.MethodId, (SelectList)ViewBag.PaymentMethods, "Select One", new { @class = "form-control select2" })
                        @Html.ValidationMessageFor(model => model.MethodId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-sm-4 text-md-right" })
                    <div class="col-sm-4">
                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <div class="offset-sm-4 col-sm-4">
                        <button type="submit" class="btn btn-success pull-right"> <span class="fa fa-plus"></span> Add New </button>
                    </div>
                </div>
            }
            <div class="col-md-3">
                <a href="@Url.Action("Index")" class="btn btn-info"> <span class="fa fa-chevron-left"></span> Back to List</a>
            </div>

        </div>
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/mvcfoolproof.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="~/vendor/select2/dist/js/select2.min.js"></script>
    <script>

        $(".pickDate").datepicker({
            autoclose: true,
            format: "yyyy-mm-dd",
            setDate: "d"
        }).on("changeDate", function() {
            $(this).valid();
        });
        $(".select2").select2();
        $(".select2").on("select2:close", function() {
            $(this).valid();
        });
    </script>
}


