@using App.Web.Helper
@using App.Web.Context
@model App.Entity.Models.TransactionsInfo

@{
    ViewBag.Title = "Airline Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <h6 class="card-header bg-primary">TRANSFERS / DETAILS</h6>
    <div class="card-block">
        <div class="row">
            <div class="col-md-12">
                <h5>
                    TRANSACTION ID: @Model.TransactionId.ToUpper()
                    <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-primary btn-sm"> <span class="fa fa-edit"></span> Edit</a>
                </h5>
                <br />
                <table class="table table-striped m-md-b-0">
                    <tr>
                        <th width="150">@Html.DisplayNameFor(m => m.Date)</th>
                        <td>@Model.Date.NullDateToString()</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.AccountFrom)</th>
                        <td>@Model.BankAccountFrom.AccountName</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.AccountTo)</th>
                        <td>@Model.BankAccountTo.AccountName</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.Amount)</th>
                        <td>@Model.Amount</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.MethodId)</th>
                        <td>@Model.PaymentMethod.MethodName</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.Description)</th>
                        <td>@Model.Description</td>
                    </tr>
                </table>
            </div>
        </div>
        <br />
        <div class="col-md-3">
            <a href="@Url.Action("Index")" class="btn btn-info"> <span class="fa fa-chevron-left"></span> Back to List</a>
        </div>
    </div>

</div>