@model App.Entity.Models.ServiceInfo

@{
    ViewBag.Title = "Edit Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <h6 class="card-header bg-primary">SERVICES / EDIT</h6>
    <div class="card-block">
        <div class="row">
            @using (Html.BeginForm("Edit", "Services", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Id)
                <div class="form-horizontal">

                    <div class="form-group offset-md-2 col-md-8">
                        @Html.LabelFor(model => model.ServiceName, htmlAttributes: new { @class = "control-label col-sm-3 text-md-right" })
                        <div class="col-sm-6">
                            @Html.EditorFor(model => model.ServiceName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ServiceName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group offset-md-2 col-md-8">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-sm-3 text-md-right" })
                        <div class="col-sm-6">
                            @Html.TextAreaFor(model => model.Description, new { @class = "form-control" } )
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group offset-md-2 col-md-8">
                        @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-sm-3 text-md-right" })
                        <div class="col-sm-6">
                            @Html.DropDownListFor(model => model.Status, (SelectList)ViewBag.StatusList, "Select One", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group offset-md-2 col-md-8">
                        <div class="offset-sm-6 col-sm-3">
                            <button type="submit" class="btn btn-success pull-right"> <span class="fa fa-plus"></span> Save Changes </button>
                        </div>
                    </div>
                </div>
            }
            <div class="col-md-3">
                <a href="@Url.Action("Index")" class="btn btn-info"> <span class="fa fa-chevron-left"></span> Back to List</a>
            </div>

        </div>
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}