@model App.Entity.Models.AirLineInfo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>AirLineInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.Uid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Uid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AirLineId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AirLineId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AirLineName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AirLineName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DelStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DelStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntryDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
