@model App.Web.Models.DateRangeViewModel
@{
    ViewBag.Title = "Agents Due Report";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var options = new AjaxOptions
    {
        HttpMethod = "POST",
        OnSuccess = "OnSuccess",
        OnComplete = "OnComplete",
        OnFailure = "OnFailure"
    };
}
@section AdditionalStyles
{
    <link href="~/vendor/toastr/toastr.min.css" rel="stylesheet" />
    <link href="~/vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="~/Content/custom.css" rel="stylesheet" />
}
<div class="card">
    <h6 class="card-header bg-primary">REPORTS / AGENTS DUE</h6>
    <div class="card-block">
        @using (Ajax.BeginForm("AgentDueReport", "Reports", null, options, new { @class = "form-horizontal", @id = "agentDueReportForm" }))
        {
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-4 form-group">
                            @Html.LabelFor(model => model.FromDate, htmlAttributes: new { @class = "control-label col-sm-4 text-md-right" })
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.FromDate, new { htmlAttributes = new { @class = "form-control pickDate" } })
                                @Html.ValidationMessageFor(model => model.FromDate, "", new { @class = "text-danger new-line" })
                            </div>
                        </div>
                        <div class="col-md-4 form-group">
                            @Html.LabelFor(model => model.ToDate, htmlAttributes: new { @class = "control-label col-sm-4 text-md-right" })
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.ToDate, new { htmlAttributes = new { @class = "form-control pickDate" } })
                                @Html.ValidationMessageFor(model => model.ToDate, "", new { @class = "text-danger new-line" })
                            </div>
                        </div>
                        <div class="col-md-4 form-group">
                            <div class="offset-sm-4 col-sm-8">
                                <button type="submit" class="btn btn-danger"><i class="fa fa-eye"></i> Show Data</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        <br />
        @* Need to modify after that portion *@
        <button class="btn btn-warning pull-right new-line" id="print"><i class="fa fa-print"></i> Print</button>
        <div id="agentDueInfo">
            <br />
            <br />
            <div class="row text-center">
                <img src="~/Content/template/img/site/site-logo.png" alt="Logo" width="80" height="80" /><br /><br />
                <h3 class="text-underline">Code For Host Inc | Travel</h3>
                <strong><i>Agent Due Report</i></strong>
            </div>
            <table class="table table-bordered table-striped" id="agentDueReportTable">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Agent Name</th>
                        <th>Agent Contact</th>
                        <th>Email</th>
                        <th>Payment Date</th>
                        <th>Payment Amount</th>
                        <th>Service</th>
                        <th>Due Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="8" class="text-center text-danger">NO DATA FOUND</td>
                    </tr>
                </tbody>
            </table>
            <br /><br /><br />
            <div class="row text-right">
                <p class="no-margin-bottom">.............................................&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                <p class="no-margin-bottom">Administrator Siganature&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @*<script src="~/Scripts/mvcfoolproof.unobtrusive.min.js"></script>*@
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="~/vendor/toastr/toastr.min.js"></script>
    <script src="~/Scripts/print.js"></script>
    <script>
        $(function () {
            $("#agentDueInfo").hide();
            $("#print").hide();
            $("#print").click(function () {
                PrintDocumentDivById("agentDueInfo", true);
            });
        });
        $(".pickDate").datepicker({
            autoclose: true,
            format: "yyyy-mm-dd",
            setDate: "d"
        }).on("changeDate", function () {
            $(this).valid();
        });

        function OnBegin() {}

        function OnComplete() {}

        function OnSuccess(resp) {
            var agentDueInfo = $("#agentDueInfo");
            var tbody = $("#agentDueReportTable tbody");
            if (resp.Flag) {
                tbody.empty();
                $.each(resp.AgentDues, function (index, value) {
                    tbody.append(
                        '<tr>' +
                            '<td>' + (index+1) + '</td>' +
                            '<td>' + value.AgentName + '</td>' +
                            '<td>' + value.AgentContact + '</td>' +
                            '<td>' + value.Email + '</td>' +
                            '<td>' + value.PaymentDate + '</td>' +
                            '<td>' + value.PaymentAmount + '</td>' +
                            '<td>' + value.ServiceCharge + '</td>' +
                            '<td>' + value.DueAmount + '</td>' +
                        '</tr>'
                    );
                });

                if (resp.AgentDues.length === 0) {
                    tbody.append(
                        '<tr>' +
                            '<td colspan="8" class="text-center text-danger">NO DATA FOUND</td>' +
                        '</tr>'
                    );
                }
                tbody.append(
                    '<tr>' +
                        '<td colspan="5" class="text-right">Total:</td>' +
                        '<td>' + resp.TotalPayment + '</td>' +
                        '<td>' + resp.TotalServiceCharge+ '</td>' +
                        '<td>' + resp.DueAmount + '</td>' +
                    '</tr>'
                );

                agentDueInfo.show().slideDown(500);;
                $("#print").show();
            }
            else {
                toastr.error(resp.Msg, 'Error!');
                tbody.empty();
                agentDueInfo.hide().slideDown(500);;
                $("#print").hide();
            }
        }

        function OnFailure() {}

    </script>
}





