@model App.Web.Models.ClientInfoViewModel
@{
    ViewBag.Title = "Client Info Report";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var options = new AjaxOptions
    {
        HttpMethod = "POST",
        OnSuccess = "OnSuccess",
        OnComplete = "OnComplete",
        OnFailure = "OnFailure"
    };
}
@section AdditionalStyles
{
    <link href="~/vendor/toastr/toastr.min.css" rel="stylesheet" />
    <link href="~/Content/custom.css" rel="stylesheet" />
}
<div class="card">
    <h6 class="card-header bg-primary">REPORTS / CLIENT INFO</h6>
    <div class="card-block">
        @using (Ajax.BeginForm("ClientInfoReport", "Reports", null, options, new { @class = "form-horizontal", @id = "clientInfoReportForm" }))
        {
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-4 form-group">
                            @Html.LabelFor(model => model.Id, "Clients", htmlAttributes: new { @class = "control-label col-sm-4 colp text-md-right" })
                            <div class="col-sm-8">
                                @Html.DropDownListFor(model => model.Id, (SelectList)ViewBag.Clients, "Select One", new { @class = "form-control select2" })
                                @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger new-line" })
                            </div>
                        </div>
                        <div class="col-md-4 form-group">
                            @Html.LabelFor(model => model.BranchId, htmlAttributes: new { @class = "control-label col-sm-4 text-md-right" })
                            <div class="col-sm-8">
                                @Html.DropDownListFor(model => model.BranchId, (SelectList)ViewBag.Branches, "Select One", new { @class = "form-control select2" })
                                @Html.ValidationMessageFor(model => model.BranchId, "", new { @class = "text-danger new-line" })
                            </div>
                        </div>
                        <div class="col-md-4 form-group">
                            @Html.LabelFor(model => model.ServedBy, htmlAttributes: new { @class = "control-label col-sm-4 text-md-right" })
                            <div class="col-sm-8">
                                @Html.DropDownListFor(model => model.ServedBy, (SelectList)ViewBag.Users, "Select One", new { @class = "form-control select2" })
                                @Html.ValidationMessageFor(model => model.ServedBy, "", new { @class = "text-danger new-line" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 form-group">
                            @Html.LabelFor(model => model.ServiceId, htmlAttributes: new { @class = "control-label col-sm-4 text-md-right" })
                            <div class="col-sm-8">
                                @Html.DropDownListFor(model => model.ServiceId, (SelectList)ViewBag.Services, "Select One", new { @class = "form-control select2" })
                                @Html.ValidationMessageFor(model => model.ServiceId, "", new { @class = "text-danger new-line" })
                            </div>
                        </div>
                        <div class="col-md-4 form-group">
                            @Html.LabelFor(model => model.AirLineId, htmlAttributes: new { @class = "control-label col-sm-4 text-md-right" })
                            <div class="col-sm-8">
                                @Html.DropDownListFor(model => model.AirLineId, (SelectList)ViewBag.Airlines, "Select One", new { @class = "form-control select2" })
                                @Html.ValidationMessageFor(model => model.AirLineId, "", new { @class = "text-danger new-line" })
                            </div>
                        </div>
                        <div class="col-md-4 form-group">
                            @Html.LabelFor(model => model.AgentId, htmlAttributes: new { @class = "control-label col-sm-4 text-md-right" })
                            <div class="col-sm-8">
                                @Html.DropDownListFor(model => model.AgentId, (SelectList)ViewBag.Agents, "Select One", new { @class = "form-control select2" })
                                @Html.ValidationMessageFor(model => model.AgentId, "", new { @class = "text-danger new-line" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 form-group">
                            @Html.LabelFor(model => model.WorkingStatus, htmlAttributes: new { @class = "control-label col-sm-4 text-md-right" })
                            <div class="col-sm-8">
                                @Html.DropDownListFor(model => model.WorkingStatus, (SelectList)ViewBag.WorkingStatusList, "Select One", new { @class = "form-control select2" })
                                @Html.ValidationMessageFor(model => model.WorkingStatus, "", new { @class = "text-danger new-line" })
                            </div>
                        </div>
                        <div class="col-md-4 form-group">
                            @Html.LabelFor(model => model.InfoStatus, htmlAttributes: new { @class = "control-label col-sm-4 text-md-right" })
                            <div class="col-sm-8">
                                @Html.DropDownListFor(model => model.InfoStatus, (SelectList)ViewBag.InfoStatusList, "Select One", new { @class = "form-control select2" })
                                @Html.ValidationMessageFor(model => model.InfoStatus, "", new { @class = "text-danger new-line" })
                            </div>
                        </div>
                        <div class="col-md-4 form-group">
                            @Html.LabelFor(model => model.DeliveryStatus, htmlAttributes: new { @class = "control-label col-sm-4 text-md-right" })
                            <div class="col-sm-8">
                                @Html.DropDownListFor(model => model.DeliveryStatus, (SelectList)ViewBag.DeliveryStatusList, "Select One", new { @class = "form-control select2" })
                                @Html.ValidationMessageFor(model => model.DeliveryStatus, "", new { @class = "text-danger new-line" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 form-group">
                            @Html.LabelFor(model => model.FromDate, htmlAttributes: new { @class = "control-label col-sm-4 text-md-right" })
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.FromDate, new { htmlAttributes = new { @class = "form-control pickDate" } })
                                @Html.ValidationMessageFor(model => model.FromDate, "", new { @class = "text-danger new-line" })
                            </div>
                        </div>
                        <div class="col-md-4 form-group">
                            @Html.LabelFor(model => model.ToDate, htmlAttributes: new { @class = "control-label col-sm-4 text-md-right" })
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.ToDate, new { htmlAttributes = new { @class = "form-control pickDate" } })
                                @Html.ValidationMessageFor(model => model.ToDate, "", new { @class = "text-danger new-line" })
                            </div>
                        </div>
                        <div class="col-md-4 form-group">
                            <div class="offset-sm-4 col-sm-8">
                                <button type="submit" class="btn btn-danger"><i class="fa fa-eye"></i> Show Data</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        <br />
        @* Need to modify after that portion *@
        <button class="btn btn-warning pull-right new-line" id="print"><i class="fa fa-print"></i> Print</button>
        <div id="clientReportInfo" class="table-responsive">
            <br />
            <br />
            <div class="row text-center">
                <img src="~/Content/template/img/site/site-logo.png" alt="Logo" width="80" height="80" /><br /><br />
                <h3 class="text-underline">Code For Host Inc | Travel</h3>
                <strong><i>Client Info Report</i></strong>
            </div>
            <table class="table table-bordered table-striped" id="clientInfoReportTable">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Entry Date</th>
                        <th>CID</th>
                        <th>PAX Name</th>
                        <th>Referal</th>
                        <th>Service</th>
                        <th>Air Lines</th>
                        <th>Air Line PNR</th>
                        <th>Service Charge</th>
                        <th>Cost</th>
                        <th>Profit</th>
                        <th>Served By</th>
                        <th>Working Status</th>
                        <th>Information Update</th>
                        <th>Delivery Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="15" class="text-center text-danger">NO DATA FOUND</td>
                    </tr>
                </tbody>
            </table>
            <br /><br /><br />
            <div class="row text-right">
                <p class="no-margin-bottom">.............................................&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                <p class="no-margin-bottom">Administrator Siganature&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @*<script src="~/Scripts/mvcfoolproof.unobtrusive.min.js"></script>*@
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/vendor/toastr/toastr.min.js"></script>
    <script src="~/Scripts/print.js"></script>
    <script>
        $(function () {
            $("#clientReportInfo").hide();
            $("#print").hide();
            $("#print").click(function () {
                PrintDocumentDivById("clientReportInfo", true);
            });
        });
        PickDate();

        function OnBegin() {}

        function OnComplete() {}

        function OnSuccess(resp) {
            var clientReportInfo = $("#clientReportInfo");
            var tbody = $("#clientInfoReportTable tbody");
            if (resp.Flag) {
                tbody.empty();
                $.each(resp.ClientReports, function (index, value) {
                    tbody.append(
                        '<tr>' +
                            '<td>' + (index+1) + '</td>' +
                            '<td>' + value.EntryDate + '</td>' +
                            '<td>' + value.CID + '</td>' +
                            '<td>' + value.PaxName + '</td>' +
                            '<td>' + value.Referral + '</td>' +
                            '<td>' + value.Service + '</td>' +
                            '<td>' + value.Airline + '</td>' +
                            '<td>' + value.AirLinePnr + '</td>' +
                            '<td>' + value.ServiceCharge + '</td>' +
                            '<td>' + value.Cost + '</td>' +
                            '<td>' + value.Profit + '</td>' +
                            '<td>' + value.ServedBy + '</td>' +
                            '<td>' + value.WorkingStatus + '</td>' +
                            '<td>' + value.InfoStatus + '</td>' +
                            '<td>' + value.DeliveryStatus + '</td>' +
                        '</tr>'
                    );
                });

                if (resp.ClientReports.length === 0) {
                    tbody.append(
                        '<tr>' +
                            '<td colspan="15" class="text-center text-danger">NO DATA FOUND</td>' +
                        '</tr>'
                    );
                }
                tbody.append(
                    '<tr>' +
                        '<td colspan="8" class="text-right">Total:</td>' +
                        '<td>' + resp.ServiceCharge + '</td>' +
                        '<td>' + resp.Cost + '</td>' +
                        '<td>' + resp.Profit + '</td>' +
                        '<td colspan="4"></td>' +
                    '</tr>'
                );
                clientReportInfo.show().slideDown(500);;
                $("#print").show();
            }
            else {
                toastr.error(resp.Msg, 'Error!');
                tbody.empty();
                clientReportInfo.hide().slideDown(500);;
                $("#print").hide();
            }
        }

        function OnFailure() { }

    </script>
}

