@using App.Web.Context
@using App.Web.Models
@model LoginViewModel
@{
    Layout = null;
    ViewBag.Title = "Log in";

    var db = new CrmDbContext();
    var logoName = db.GeneralSettings.Where(x => x.SettingName == "SiteLogo").Select(x => x.SettingValue).FirstOrDefault();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CRM | Login</title>
    <!-- Global stylesheets -->
    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/favicon.ico")" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/vendor/limitless-login/css/icomoon/styles.css" rel="stylesheet" />
    <link href="~/vendor/limitless-login/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/vendor/limitless-login/css/core.min.css" rel="stylesheet" />
    <link href="~/vendor/limitless-login/css/components.min.css" rel="stylesheet" />
    <link href="~/vendor/limitless-login/css/colors.min.css" rel="stylesheet" />
    <link href="~/vendor/toastr/toastr.css" rel="stylesheet" />
    <style>
        .input-validation-error {
            border: 1px solid red;
        }

        .field-validation-error {
            color: red;
        }
    </style>
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script src="~/vendor/limitless-login/js/loaders/pace.min.js"></script>
    <script src="~/vendor/limitless-login/js/jquery.min.js"></script>
    <script src="~/vendor/limitless-login/js/bootstrap.min.js"></script>
    <script src="~/vendor/limitless-login/js/loaders/blockui.min.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script src="~/vendor/limitless-login/js/styling/uniform.min.js"></script>
    <script src="~/vendor/limitless-login/js/app.js"></script>
    <script src="~/vendor/limitless-login/js/login_validation.js"></script>

    <script src="~/vendor/toastr/toastr.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")


    <!-- /theme JS files -->
</head>
<body class="login-container login-cover">
    <div class="page-container">
        <div class="page-content">
            <div class="content-wrapper">
                <div class="content pb-20">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="panel panel-body login-form">
                            <div class="text-center">
                                <div class="icon-object border-slate-300 text-slate-300">
                                    @if (!string.IsNullOrWhiteSpace(logoName))
                                    {
                                        <img src="~/Content/template/img/site/@logoName" width="50" height="50" alt="CRM">
                                    }
                                    else
                                    {
                                        <h1>CRM</h1>
                                    }
                                </div>
                                <h5 class="content-group">Login to your account <small class="display-block">Your credentials</small></h5>
                            </div>
                            <div class="form-group has-feedback has-feedback-left">
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Username" })
                                @Html.ValidationMessageFor(m => m.UserName)
                                <div class="form-control-feedback">
                                    <i class="icon-user text-muted"></i>
                                </div>
                            </div>
                            <div class="form-group has-feedback has-feedback-left">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                                @Html.ValidationMessageFor(m => m.Password)
                                <div class="form-control-feedback">
                                    <i class="icon-lock2 text-muted"></i>
                                </div>
                            </div>
                            <div class="form-group login-options">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label class="checkbox-inline">
                                            @Html.CheckBoxFor(m => m.RememberMe, new { @class = "styled" }) Remember Me
                                        </label>
                                    </div>
                                    <div class="col-sm-6 text-right">
                                        @*<a href="@Url.Action("ForgotPassword","Account")">Forgot password?</a>*@
                                        <a href="javascript: void(0);">Forgot password?</a>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn bg-blue btn-block">Login <i class="icon-arrow-right14 position-right"></i></button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</body>
</html>
